<?xml version="1.0" encoding="utf-8" ?>
<!--

Purpose: Sitecore.Fundamentals configuration
    
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <services>
    </services>
    <settings>
      <!--  SITECORE FUNDAMENTALS TLS HSTS MAXAGE
            Specifies the the number of seconds, after the reception of the STS header field,
            during which the UA regards the host (from whom the message was received) as a 
            Known HSTS Host.

            Default: 31536000 seconds (1 year)    
      -->
      <setting name="Sitecore.Fundamentals.TLS.HSTS.MaxAge" value="31536000" />
    </settings>
  </sitecore>
</configuration>